### Build output ###
/build/
/build-*/
/_install/
/_wsl-prefix/

### CMake user overrides ###
/CMakeUserPresets.json

### Third-party sources (downloaded by DjVuThirdParty.cmake) ###
/third_party/zlib/
/third_party/libjpeg-turbo/
/third_party/tiff/
/third_party/googletest/
/third_party/vcpkg/
/third_party/vcpkg_installed/
/third_party/install/

### IDE ###
/.vs/
/.idea/
*.user

### Autotools / Libtool artefacts (legacy safety net) ###
*.la
*.lo
*.o
.deps/
.dirstamp
.libs/
/INSTALL
/aclocal.m4
/autom4te.cache/
/config/
/config.h
/config.log
/config.status
/configure
/configure~
/libtool
/stamp-h1
Makefile
Makefile.in

### Misc ###
clang_tidy_libdjvu.txt